html {
  height: 100%;
  overflow: hidden;
}

#stars, #stars2, #stars3,
#stars:after, #stars2:after, #stars3:after {
  background: transparent;
  border-radius: 50%;
  z-index: -100;
}

#stars:after, #stars2:after, #stars3:after {
  content: " ";
  position: absolute;
}

#stars, #stars:after{
  width: 2px;
  height: 2px;
  box-shadow: 102px 2442px #FFF , 1033px 3735px #FFF , 110px 1065px #FFF , 1250px 2674px #FFF , 1411px 1322px #FFF , 493px 1370px #FFF , 1854px 1580px #FFF , 493px 3770px #FFF , 42px 2385px #FFF , 632px 3407px #FFF , 1081px 142px #FFF , 953px 3049px #FFF , 1557px 1251px #FFF , 1438px 1157px #FFF , 504px 823px #FFF , 633px 3312px #FFF , 346px 601px #FFF , 657px 580px #FFF , 643px 113px #FFF , 1633px 1667px #FFF , 1770px 2345px #FFF , 956px 337px #FFF , 969px 1341px #FFF , 1100px 2102px #FFF , 1576px 3232px #FFF , 1867px 3733px #FFF , 761px 3984px #FFF , 1244px 2305px #FFF , 1011px 2535px #FFF , 1117px 495px #FFF , 1581px 2095px #FFF , 1019px 1954px #FFF , 247px 1481px #FFF , 1650px 765px #FFF , 1920px 4000px #FFF , 1522px 3914px #FFF , 933px 144px #FFF , 1033px 1123px #FFF , 1247px 1991px #FFF , 1272px 3982px #FFF , 1191px 1551px #FFF , 402px 551px #FFF , 1325px 1304px #FFF , 424px 2993px #FFF , 252px 818px #FFF , 302px 2874px #FFF , 254px 358px #FFF , 314px 2504px #FFF , 1940px 728px #FFF , 138px 3344px #FFF , 511px 2790px #FFF , 1063px 3932px #FFF , 1171px 2440px #FFF , 656px 2435px #FFF , 1241px 2872px #FFF , 1462px 3269px #FFF , 507px 2930px #FFF , 767px 1404px #FFF , 504px 696px #FFF , 739px 2744px #FFF , 81px 3678px #FFF , 497px 983px #FFF , 506px 2688px #FFF , 219px 2241px #FFF , 1109px 2885px #FFF , 1424px 2587px #FFF , 1134px 1212px #FFF , 1356px 1298px #FFF , 5px 1326px #FFF , 987px 3694px #FFF , 1063px 1790px #FFF , 635px 3866px #FFF , 357px 494px #FFF , 1896px 3480px #FFF , 204px 1765px #FFF , 566px 67px #FFF , 1271px 1305px #FFF , 284px 3888px #FFF , 1601px 3343px #FFF , 1678px 2031px #FFF , 1965px 705px #FFF , 64px 3324px #FFF , 23px 2440px #FFF , 165px 2726px #FFF , 904px 2619px #FFF , 1204px 3434px #FFF , 666px 3986px #FFF , 1184px 2856px #FFF , 629px 3643px #FFF , 1350px 2783px #FFF , 915px 3630px #FFF , 1417px 2298px #FFF , 1094px 3296px #FFF , 862px 2474px #FFF , 204px 72px #FFF , 961px 1688px #FFF , 1499px 3208px #FFF , 1851px 697px #FFF , 1800px 1805px #FFF , 144px 29px #FFF , 234px 1409px #FFF , 1982px 118px #FFF , 255px 1521px #FFF , 1175px 1299px #FFF , 1034px 2407px #FFF , 1952px 3243px #FFF , 1512px 2941px #FFF , 1719px 1492px #FFF , 1741px 2266px #FFF , 978px 1072px #FFF , 1160px 125px #FFF , 1552px 2704px #FFF , 1691px 3835px #FFF , 305px 2663px #FFF , 1503px 3675px #FFF , 1690px 3189px #FFF , 1495px 368px #FFF , 916px 2945px #FFF , 1844px 2786px #FFF , 1178px 3960px #FFF , 422px 2285px #FFF , 608px 2558px #FFF , 1620px 751px #FFF , 1889px 1418px #FFF , 863px 1141px #FFF , 715px 2656px #FFF , 842px 206px #FFF , 101px 1445px #FFF , 1315px 3814px #FFF , 606px 2377px #FFF , 560px 341px #FFF , 626px 1202px #FFF , 350px 112px #FFF , 903px 404px #FFF , 903px 535px #FFF , 838px 2749px #FFF , 47px 3542px #FFF , 433px 263px #FFF , 519px 1823px #FFF , 786px 1704px #FFF , 1452px 853px #FFF , 105px 1955px #FFF , 1777px 2614px #FFF , 1409px 75px #FFF , 1961px 946px #FFF , 1146px 1698px #FFF , 211px 2034px #FFF , 1416px 1348px #FFF , 228px 786px #FFF , 525px 70px #FFF , 855px 1650px #FFF , 8px 417px #FFF , 614px 411px #FFF , 1714px 2565px #FFF , 327px 2340px #FFF , 190px 2576px #FFF , 234px 3797px #FFF , 1206px 17px #FFF , 508px 2029px #FFF , 1661px 1549px #FFF , 1769px 2636px #FFF , 1864px 1013px #FFF , 1183px 2767px #FFF , 799px 2463px #FFF , 1580px 2927px #FFF , 1366px 2444px #FFF , 1399px 689px #FFF , 720px 528px #FFF , 568px 3159px #FFF , 709px 3076px #FFF , 340px 872px #FFF , 856px 504px #FFF , 1575px 2406px #FFF , 695px 276px #FFF , 434px 39px #FFF , 861px 3452px #FFF , 196px 716px #FFF , 142px 1744px #FFF , 261px 1282px #FFF , 1951px 1244px #FFF , 1203px 2869px #FFF , 280px 2957px #FFF , 1236px 2862px #FFF , 105px 630px #FFF , 1275px 2065px #FFF , 565px 145px #FFF , 1864px 3009px #FFF , 1002px 3958px #FFF , 500px 48px #FFF , 1440px 358px #FFF , 1981px 520px #FFF , 535px 382px #FFF , 998px 1134px #FFF , 988px 1324px #FFF , 363px 2804px #FFF , 47px 3921px #FFF , 503px 3293px #FFF , 881px 3381px #FFF , 1464px 2060px #FFF , 1106px 3818px #FFF;
}

#stars {
  animation: animStar 50s linear infinite;
}

#stars:after {
  top: 2000px;
}

#stars2, #stars2:after{
  width: 4px;
  height: 4px;
  opacity: 0.6;
  box-shadow: 1314px 2568px #FFF , 1078px 1415px #FFF , 575px 3490px #FFF , 1868px 35px #FFF , 478px 949px #FFF , 1955px 2450px #FFF , 102px 1127px #FFF , 793px 1818px #FFF , 522px 897px #FFF , 760px 617px #FFF , 1100px 2646px #FFF , 1782px 277px #FFF , 1052px 1503px #FFF , 450px 2623px #FFF , 101px 3228px #FFF , 1283px 681px #FFF , 359px 114px #FFF , 1798px 3224px #FFF , 585px 2015px #FFF , 1097px 2258px #FFF , 626px 824px #FFF , 274px 2790px #FFF , 612px 1152px #FFF , 346px 3501px #FFF , 1609px 1789px #FFF , 830px 1748px #FFF , 552px 3806px #FFF , 503px 1567px #FFF , 494px 129px #FFF , 1671px 506px #FFF , 1739px 321px #FFF , 1456px 2654px #FFF , 1061px 326px #FFF , 1819px 2728px #FFF , 575px 75px #FFF , 46px 1638px #FFF , 68px 52px #FFF , 1265px 1787px #FFF , 79px 993px #FFF , 1632px 2944px #FFF , 1783px 3676px #FFF , 1300px 1391px #FFF , 1484px 281px #FFF , 699px 3228px #FFF , 1650px 489px #FFF , 1564px 3675px #FFF , 881px 1936px #FFF , 367px 3579px #FFF , 712px 582px #FFF , 1752px 1935px #FFF , 1940px 1803px #FFF , 899px 509px #FFF , 1994px 707px #FFF , 629px 561px #FFF , 1506px 216px #FFF , 986px 224px #FFF , 264px 1994px #FFF , 1520px 2076px #FFF , 1709px 640px #FFF , 1451px 988px #FFF , 1458px 855px #FFF , 952px 270px #FFF , 1717px 3404px #FFF , 1737px 2743px #FFF , 1075px 3912px #FFF , 1788px 166px #FFF , 1058px 841px #FFF , 1525px 1095px #FFF , 1568px 2732px #FFF , 30px 1373px #FFF , 277px 1208px #FFF , 807px 591px #FFF , 583px 1673px #FFF , 937px 3395px #FFF , 314px 3422px #FFF , 299px 1612px #FFF , 1045px 951px #FFF , 1041px 2638px #FFF , 1028px 1109px #FFF , 1522px 3025px #FFF , 901px 3438px #FFF , 145px 433px #FFF , 1131px 2364px #FFF , 834px 2308px #FFF , 1860px 2648px #FFF , 552px 3086px #FFF , 1079px 3080px #FFF , 1536px 29px #FFF , 1458px 2956px #FFF , 757px 2373px #FFF , 1085px 3088px #FFF , 828px 2434px #FFF , 774px 1881px #FFF , 172px 1307px #FFF , 1949px 1291px #FFF , 1968px 3335px #FFF , 1091px 2863px #FFF , 1623px 2361px #FFF , 400px 1846px #FFF , 409px 152px #FFF;
}

#stars2 {
  animation: animStar 100s linear infinite;
}

#stars2:after {
  top: 2000px;
}

#stars3, #stars3:after{
  width: 6px;
  height: 6px;
  opacity: 0.3;
  box-shadow: 966px 3800px #FFF , 720px 3821px #FFF , 1003px 951px #FFF , 1622px 1213px #FFF , 1780px 1321px #FFF , 304px 738px #FFF , 1637px 2003px #FFF , 13px 1381px #FFF , 1704px 456px #FFF , 1894px 2607px #FFF , 1318px 3900px #FFF , 1897px 1367px #FFF , 740px 3311px #FFF , 1591px 1767px #FFF , 98px 904px #FFF , 247px 1067px #FFF , 720px 125px #FFF , 47px 966px #FFF , 84px 1405px #FFF , 1458px 1672px #FFF , 188px 2960px #FFF , 1053px 3036px #FFF , 760px 1187px #FFF , 1020px 419px #FFF , 539px 1300px #FFF , 42px 3087px #FFF , 847px 3604px #FFF , 1216px 1946px #FFF , 532px 184px #FFF , 1911px 1360px #FFF , 1735px 1520px #FFF , 268px 2838px #FFF , 1367px 2138px #FFF , 228px 3887px #FFF , 1589px 1142px #FFF , 746px 3830px #FFF , 273px 3385px #FFF , 189px 3902px #FFF , 619px 3848px #FFF , 1585px 44px #FFF , 290px 1697px #FFF , 1367px 3423px #FFF , 1701px 3990px #FFF , 5px 3094px #FFF , 457px 208px #FFF , 567px 1118px #FFF , 89px 3017px #FFF , 114px 638px #FFF , 752px 2031px #FFF , 525px 867px #FFF;
}

#stars3 {
  animation: animStar 150s linear infinite;
}

#stars3:after {
  top: 2000px;
}

@keyframes animStar {
  from {
    transform: translateY(-2000px);
  }

  to {
    transform: translateY(0px);
  }
}

.star-five {
   margin: 50px 0;
   position: relative;
   display: block;
   color: white;
   width: 0px;
   height: 0px;
   border-right:  20px solid transparent;
   border-bottom: 14px  solid white;
   border-left:   20px solid transparent;
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
   margin-left: auto;
   margin-right: auto;
}

.star-five:before {
   border-bottom: 16px solid white;
   border-left: 6px solid transparent;
   border-right: 6px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -9px;
   left: -13px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);
}

.star-five:after {
   position: absolute;
   display: block;
   color: white;
   top: 0.6px;
   left: -21px;
   width: 0px;
   height: 0px;
   border-right: 20px solid transparent;
   border-bottom: 14px solid white;
   border-left: 20px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}
