<div class="col-md-12 margin-bottom-20">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp col-md-12">
        <thead>
            <tr>
                <th>#</th>
                <th>Grupo</th>
                <th>Integrantes</th>
                <th>Respostas</th>
                <th>Pontos Desafios</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td>{{item.grupo.id}}</td>
                <td>{{item.grupo.equipe.nome + ' ' + item.grupo.equipe.cor}}</td>
                <td>
                    <div ng-repeat="integrante in item.grupo.integrantes">{{integrante.nome}}</div>
                </td>
                <td>{{item.countRespCorr}}</td>
                <td>{{item.desafConc}}</td>
            </tr>
        </tbody>
    </table>
</div>
