<div class="col-md-12 margin-bottom-20">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp col-md-12">
        <thead>
            <tr>
                <th>#</th>
                <th>Grupo</th>
                <th>Integrantes</th>
                <th>Respostas</th>
                <th>Pontos Desafios</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Team Ursa - Verde</td>
                <td>
                    Rodrigo Sclosa</br>
                    Felipe Prado</br>   
                    Larissa Dominique</br>
                    Erick Saito
                </td>
                <td>3</td>
                <td>15</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Team Órion - Verde</td>
                <td>
                    Rodrigo Sclosa</br>
                    Felipe Prado</br>
                    Larissa Dominique</br>
                    Erick Saito
                </td>
                <td>1</td>
                <td>12</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Team Andrômeda - Verde</td>
                <td>
                    Rodrigo Sclosa</br>
                    Felipe Prado</br>
                    Larissa Dominique</br>
                    Erick Saito
                </td>
                <td>1</td>
                <td>8</td>
            </tr>
        </tbody>
    </table>
</div>