<div class="col-md-12 margin-bottom-20">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp col-md-12">
        <thead>
            <tr>
                <th>#</th>
                <th class="text-center">Foto</th>
                <th class="text-center">Grupo</th>
                <th class="text-left">Integrantes</th>
                <th>Respostas</th>
                <th>Pontos Desafios</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items | orderBy:['tempoTotalDesafios','desafConc','tempoTotalRespostas', 'countRespCorr']">
                <td>{{item.grupo.id}}</td>
                <td><img src="{{item.grupo.fotoEquipe.value || item.grupo.equipe.imagem}}" class="img-responsive icon-times centered" /></td>
                <td class="{{item.grupo.equipe.cor}} text-center">{{item.grupo.nome}} ({{item.grupo.equipe.nome + ' / ' + item.grupo.equipe.cor}})</td>
                <td class="text-left">
                    <div ng-repeat="integrante in item.grupo.integrantes">#{{integrante.numero}} - {{integrante.nome}}</div>
                </td>
                <td>{{item.countRespCorr}}</td>
                <td>{{item.desafConc}}</td>
            </tr>
        </tbody>
    </table>
</div>
