<ul class="wrapper">
  <div class="sun">
    <div class="star"></div>
  </div>
  <div ng-repeat="(key, planet) in planets" class="custom-planet planet-{{key}}">
    <div class="planet" style="background: url({{planet.image}}) no-repeat;">
      <div class="shadow"></div>
      <div class="conq">
        <div ng-repeat="conq in planet.gruposConquistadores"
             class="{{conq.equipe.cor}} text-center">
          {{conq.nome}} ({{conq.equipe.nome + ' / ' + conq.equipe.cor}})
        </div>
      </div>
    </div>
  </div>
</ul>
